body {
  background-color: aliceblue;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99caf5;
  color: white;
  height: 100px;
  width: 100%;
  border-radius: 5px;
}

h4 {
  margin: 5px 10px;
}

/* songFilter */

div.songFilter {
  display: flex;
  flex-direction: row;
  background-color: #c1ddf6;
  color: #353535;
  justify-content: center;
}
div.songFilter h4 {
  color: white;
}

span.filter {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 120px;
}
span.filter form {
  margin: 5px 10px;
  padding: 0;
  font-size: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100px;
}

/* songForm */

form#newSongInput {
  display: flex;
  margin: 5px 10px 25px;
  width: 98%;
  justify-content: space-evenly;
  align-items: flex-end;
  color: #353535;
}
form#newSongInput label {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 300px;
}

/* songList */

div.songList {
  margin: 10px;
}

table {
  margin: 5px 10px;
  width: 98%;
  text-align: center;
}
table th {
  background-color: #99caf5;
  cursor: pointer;
  /* width: 300px; */
}
table tr:nth-child(odd) {
  background-color: #dfeefc;
}
table tr td {
  text-align: left;
  padding-left: 20px;
}

table tr td:nth-child(1),
table tr td:nth-child(5) {
  width: 75px;
  text-align: center;
  padding-left: 5px;
}

table tr td:nth-child(6) {
  width: 150px;
  text-align: center;
}

button {
  width: 100px;
  height: 35px;
  background-color: #88c2f8;
  border: none;
  border-radius: 30px;
}
button.songFormButton {
  align-items: bottom;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
